.App {
  text-align: center;
}

.header {
  background: #999;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
  text-align: center;
  vertical-align: middle;
}

.main {
  margin: 10px 0 10px 0;
  .container {
    border: 1px solid black;
    padding: 5%;
    margin: 10%;
    .measure-selector {
      width: 100%;
      height: 34px;
    }
  }
  .card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    align-items: center;
    span {
    }
  }

  .unitInputCard {
    display: flex;
    border: 1px solid gray;
    flex-direction: column;
    .valueInput {
      border: none;
      text-align: center;
      padding: 10px;
      outline: none;
      height: 50px;
      box-sizing: border-box;
      width: 100%;
      font-size: 200%;
    }
    .selector {
      text-align: center;
      height: 35px;
      outline: none;
      border: none;
      background-color: #9e9e9e2e;
    }
  }
}
